* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CORPO DELLA PAGINA */
.container {
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #A1A1A1;
}

/* HEADER */
.logo img {
  width: 10%;
}


/* MENU */
nav{
  margin: 30px 0;
}
nav .menu {
  list-style: none;
}

.menu a {
  text-decoration: none;
  display: inline;
  color:inherit
}

.menu li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}

.menu a:hover {
  color: coral;
}


/* IMMAGINE HEADER */
.banner {
  margin-top: 20px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  color:#fff;
}
.main-banner {
  height: 600px;
}

.text-over-banner {}
/* MAIN CONTENT */
main {

  margin-top: 20px;
  background-color: #A1C8E3;
}

.section-title {
  height: 60px;
}

/* CONTENT SECTION */
.content {
  background-color: #007CFF;
  padding: 25px 0;
}

.clearfix:after {
  content:'';
  display: table;
  clear: both;
}

section aside,
section .center {
  float: left;
  height: 300px;
  background-color: #A1C8E3
}

section aside{
  width: 23%
}

section .center{
  width: 50%;
  margin: 0 2%;
}



footer {
  height: 40px;
  margin: 20px 0 40px;
  background-color: #7D08FF;
}